{% extends "page.html" %}
{% block content %}

	<div class="container">

	<!-- Masthead
	=========================================== -->
		<div class="row">
			<div class="span9 columns">
				<div class="hero-unit">
					<h1>{{ SITE_NAME }}</h1>
					<p class="lead">
						{{ SITE_LEAD }}<br/>
					</p>
				</div>
			</div>
		</div>

	<!-- Page Content
	============================================ -->
		<div class="row">
			<div class="span9 columns">
				<div class="inner">
				<div class="row">
					<!-- Latest Posts
					============================================ -->
					<div class="span4 columns">
						<div class="latest-posts">
							<h1>Latest Posts</h1>

							<ul>
							{% for post in posts|slice:"10" %}
								<li><a href="{{ ROOT_URL}}/{{ post.path }}">{{ post.title }} </a></li>
							{% empty %}
								<li>There are currently no postings.</li>
							{% endfor %}
							</ul>

							<br/>
							<a class="indent" href="{{ ROOT_URL }}/archives.html">All Posts Archive</a>
						</div>
					</div>

					<!-- Twitter Widget
					============================================= -->
					<div class="span5 columsn">
					<h1>Twitter</h1>
					<script src="http://widgets.twimg.com/j/2/widget.js"></script>
					<script>
						new TWTR.Widget({
							version: 2,
							type: 'profile',
							rpp: 5,
							interval: 30000,
							width: 330,
							height: 400,
							theme: {
								shell: {
									background: 'transparent',
									color: '#000000'
								},

								tweets: {
									background: '#transparent',
									color: '#000000',
									links: '#006E91'
								}
							},
							features: {
								scrollbar: false,
								loop: false,
								live: false,
								hashtags: true,
								timestamp: false,
								avatars: true,
								behavior: 'all'
							}
						}).render().setUser('cridgway').start();
					</script>
					</div>
					</div>
				</div>
				<!-- Projects
				=========================================== -->
				<div id="projects">
					<h1>Projects</h1>
					<div class="inner">
						<div class="container">
							<div class="row">
								<div class="span9 columns">
									<table class="table">
										<!-- Blog Project
										==================================== -->
										<tr>
											<td>
												<a href="#"><img class="thumbnail" src="{{ STATIC_URL }}/img/blog.png" alt="Blog"></a>
											</td>
											<td>
												<p>
													My <a href="https://github.com/koenbok/Cactus">Cactus</a> based blog hosted
													on <a href="http://aws.amazon.com/s3/">Amazon S3</a>.  The
													<a href="http://hg.ckridgway.com/blog">source</a> for my blog can be found on
													BitBucket.  The <a href="colophon.html">Colophon</a> lists the tools I used
													to build it.
												</p>
											</td>
										</tr>
										<!-- Brave New Surf Project
										==================================== -->
										<tr>
											<td>
												<a href="http://bravenewsurf.com"><img class="thumbnail" src="{{ STATIC_URL }}/img/bravenewsurf.png" alt="Brave New Surf"></a>
											</td>
											<td>
												<p>
													<a href="http://bravenewsurf.com">Brave New Surf</a> is a compilation album of the
													best modern instrumental surf music from <a href="http://www.doublecrownrecords.com/">Double Crown Records</a>.
													The site was built using <a href="http://www.djangoproject.com">Django</a> and
													<a href="http://jquery.com/">jQuery</a>
													and was a collaboration with <a href="http://deathofagremmie.com/">
													Brian Neal</a> and <a href="http://twitter.com/bobmourlam">Bob Mourlam</a> with design
													assistance from Ferenc Dobronyi.
												</p>
												<p>
													The <a href="https://bitbucket.org/bgneal/bravenewsurf">source</a> can be found on BitBucket.
												</p>
											</td>
										 </tr>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
