{% extends "base.html" %}
{% block page %}

	{% block masthead %}
	{% endblock %}

	<div class="container">
		<div class="row">

			<!-- Sidebar
			=========================================== -->
			{% include "includes/sidebar.html" %}

			<!-- Article Content
			=========================================== -->
			<div class="span8 columns">
				{% block content %}
				{% endblock %}
			</div>

			<!-- Blank Margin
			=========================================== -->
			<div class="span1 columns">
			&nbsp;
			</div>

		</div>
	</div>

{% endblock %}
