{% extends "base.html" %}
{% block page %}

	<div class="container">
		<div class="row">

			<!-- Sidebar
			=========================================== -->
			<div class="span3 columns">
				<div class="sidebar">
					<div class="sidebar-masthead">
						<div style="width:100px; height:100px; border:4px solid #bbb; border-radius:200px;
									background: url('http://www.gravatar.com/avatar/b5fba2f517d483b266ccd6d7a37d3a2c');
									background-size:100% 100%;
									background-repeat: no-repeat;
									margin-bottom: 10px; margin-left: auto; margin-right: auto;">
						</div>
						<a href="{{ ROOT_URL }}/index.html"><h1>Chris Ridgway</h1></a>
						<p>
							I'm Chris.  A real-time embedded software engineer,
							interested in web and mobile app development,
							large scale computing, networking, and all things Python.
							Read <a href="{{ ROOT_URL }}/about.html">more about me.</a>
						</p>
					</div>

					<div class="sidebar-links">
						<h2>Contact</h2>
						<a href="mailto:ckridgway@gmail.com">ckridgway@gmail.com</a><br/>

						<h2>Social</h2>
						<a href="http://twitter.com/cridgway">Twitter</a><br/>
						<a href="https://plus.google.com/114382913609569476532">Google+</a><br/>
						<a href="http://www.linkedin.com/in/ckridgway">LinkedIn</a><br/>
						<a href="http://www.delicious.com/cridgway">Delicious</a><br/>

						<h2>Sharing</h2>
						<a href="https://bitbucket.org/ckridgway">Bitbucket</a><br/>
						<a href="https://github.com/ckridgway">GitHub</a><br/>
					</div>
				</div>
			</div>

			<!-- Article Content
			=========================================== -->
			<div class="span8 columns">
				{% block content %}
				{% endblock %}
			</div>

			<!-- Blank Margin
			=========================================== -->
			<div class="span1 columns">
			&nbsp;
			</div>

		</div>
	</div>

{% endblock %}
