{% extends "base.html" %}
{% block page %}

	<div class="container">
		<div class="row">

			<!-- Article Sidebar
			=========================================== -->
			<div class="span4 columns">
				<div id="article-left">
					<div id="article-masthead">
						<div style="align:center">
							<div style="width:100px; height:100px; border:4px solid #bbb; border-radius:200px;
										background: url('http://www.gravatar.com/avatar/b5fba2f517d483b266ccd6d7a37d3a2c');
										background-size:100% 100%;
										background-repeat: no-repeat;
										margin-bottom: 10px; margin-left: auto; margin-right: auto;">
							</div>
						<a href="{{ ROOT_URL }}/index.html"><h1>Chris Ridgway</h1></a>
						</div>
					</div>
					<p>
						I'm Chris.  A real-time embedded software engineer,
						interested in web and mobile app development,
						large scale computing, networking, and all things Python.
						Read <a class="tinylink" href="{{ ROOT_URL }}/about.html">more about me.</a>
					</p>
					<h3>Contact</h3>
					<a href="mailto:ckridgway@gmail.com">ckridgway@gmail.com</a><br/>

					<h3>Social</h3>
					<a href="http://twitter.com/cridgway">Twitter</a><br/>
					<a href="https://plus.google.com/114382913609569476532">Google+</a><br/>
					<a href="http://www.linkedin.com/in/ckridgway">LinkedIn</a><br/>
					<a href="http://www.delicious.com/cridgway">Delicious</a><br/>

					<h3>Sharing</h3>
					<a href="https://bitbucket.org/ckridgway">Bitbucket</a><br/>
					<a href="https://github.com/ckridgway">GitHub</a><br/>
				</div>
			</div>

			<!-- Article Content
			=========================================== -->
			<div class="span10 columns">
				<div id="article">
					{% block content %}
					{% endblock %}
				</div>
				&nbsp;<br/>
				&nbsp;<br/>
				<a href="{{ ROOT_URL }}/index.html">← Back to the homepage</a>
			</div>

			<div class="span2 columns">
			&nbsp;
			</div>
		</div>
	</div>

{% endblock %}
